.screen
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    background-color: #FAFA88
    padding: 2rem 0rem
    font-family: 'Fira Sans', sans-serif;
    .card
        background-color: #fff
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 10px 10px 0px 1px
        width: 90%
        height: fit-content
        max-height: 90%
        max-width: 50em
        display: flex
        flex-direction: column
        align-items: start
        justify-content: flex-end
        padding: 3em 6em

        //Title
        .title
            font-size: 2em
            font-weight: 600
            margin: 0.8em 0
            text-align: left
            

        //Form
        .form
            width: 100%
            align-items: flex-start

            input
                margin-bottom: 1em
                margin-top: 1em
                font-size: 1.2em
                padding-top: 1.5em
                padding-bottom: 1.5em
                
            textarea
                font-size: 1.2em
                margin-top: 1em
                padding-top: 1em
                padding-bottom: 1.5em
                height: 30%
                overflow-y: auto
                max-height: 30%
            //First Name & Last Name Wrapper
            .form-group
                display: flex
                div
                    &:first-child
                        margin-right: 1em
            button
                float: left
                width: 25%
                min-width: 8em
                background-color: #DB5752

    //Responsive Media Queries
    @media screen and ( max-width: 768px )
        .card
            padding: 3em
            .title
                margin: 1em 0
            .form
                .form-group
                    display: flex
                    flex-direction: column

    @media screen and ( max-width: 425px )
        .card
            padding: 2em 1em
            .title
                font-size: 1.5em
                margin-bottom: 0
            .form
                input
                    margin-bottom: 0.5em
                    margin-top: 1em
                button
                    width: 100%

//Validation Error Message    
.input-error
    position: absolute
    top: -1em
