#activity-screen
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    background-color: #FAFA88
    padding: 2rem 0rem
    font-family: 'Fira Sans', sans-serif;
    .container
        padding: 4em 0
        width: 90%
        margin: 0 auto
    .header
        height: 20%
        background-color: #fafafa
        .name
            font-size: 1.6em
            font-weight: 600
    .content
        h1
            font-size: 1.6em
            font-weight: 600
        h2
            font-size: 1.4em
            font-weight: 400
        h3
            font-size: 1.2em
        h4
            font-size: 1em
