.contentAboutUs {
    /*    font-family: 'Caveat Brush', cursive; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFA88;
    padding: 2rem 0rem;
    font-family: 'Fira Sans', sans-serif;
}

.title {
    font-size: 2em;
    font-weight: 600;
    margin: 0.8em 2.5em;
    text-align: left;
}

.section {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 10px 10px 0px 1px;
    width: 90%;
    height: fit-content;
    max-height: 90%;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    padding: 3em 1em;

}

.subtitle {
    font-weight: 600;
    font-size: 1.500rem;
    line-height: 2.0rem;
    padding: 1rem 5rem 0rem 5rem;
    
}

.contentAboutUs p {
    font-weight: 500;
    font-size: 1.00rem;
    line-height: 2.0rem;
    padding: 1rem 5rem;
    

}