.contentHeader{
    padding: 6px;
    margin: 0;
    top: 0;
    text-align: center; 
    background-color: #DB5752; 
    position: fixed;
    z-index: 100;
	color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500; 
    width: 100%;    
    
}

.navHeader{
    display: flex;
    
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    text-decoration: none;
}

.navHeader a:hover{
    text-decoration: none;    
    color: black;
}

header nav {
	display: flex;
	padding-left: 1.5%;
	justify-content: space-around;
}

header a.nav-link {
	/*width: 84px;
	height: 18px;*/
	margin-left: 1rem;
	/*letter-spacing: -0.015em;*/
	text-decoration: none;
	/* Actionable Item */
	color: #10161a;
}

.navHeader a:active{
    text-shadow: 0px 2px 3px black;
    transform: scaleX(1.1);
}

.buttonHeader {
	display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    text-decoration: none;
	padding: 0.8rem;
	border-radius: 0.8rem;
	background-color: #9AC9FB;
	color: white;
	font-weight: 700;
}

.buttonHeader:hover {
	background-color: #FAFA88;
	color: black;
}

.styleHeader {
    background-color: #DB5752; 

	color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;     
}
