/*.dashboardContainer{
    background-color: var(--bg);
    width: 15%;
    color: rgb(255, 255, 255);
    border: none;
    top:15;
    height:100%;
    z-index: 1;
    background-color: rgb(70, 67, 67);
}

.itemsDashBoards{
    display: flex;
    align-items: center;
    height: 15vh;
    padding-left: 40px;
    margin: 0;
    font-family: 'Baloo 2', cursive;
    text-transform: uppercase;
    justify-content: flex-start;
    transition: background-color .5s;
}

.dashIcon{
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.itemsDashBoards:hover {
    background-color: rgb(44, 44, 44);
}
*/

p {
    padding: 0;
}

a:hover {
    border-color: rgb(219,76,76);
    color: rgb(236,76,76);
}

a.active {
    background-color: rgba(219,87,82,.7);
    border-color: white;
    color: white;
}

a.active:hover {

}
/*
@media (max-width: 1500px) and (min-width: 1000px){
    .dashboardContainer{
        width: 25%;
    }
}


@media (max-width: 1000px) and (min-width: 500px){
    .dashboardContainer{
        width: 35%;
    }
    .itemsDashBoards{
        font-size: 15px;
    }
}

@media (max-width: 500px) and (min-width: 200px){
    .dashboardContainer{
        width: 40%;
    }
    .itemsDashBoards{
        font-size: 12px;
        padding-left: 5px;
        justify-content: flex-start;
        text-align: center;
    }
    .dashIcon{
        display: flex;
        align-items: center;
    }
}*/