.contentFooter{
    padding: 15px;
    margin: 0;
    text-align: center; 
    background-color: #9AC9FB; 
    
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;     
}

.navFooter{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    text-decoration: none;
}

.navFooter a:hover{
    text-decoration: none;
    text-shadow: 0px 4px 2px black;
    transform: scaleX(1.1);
}

.navFooter a:active{
    text-shadow: 0px 2px 3px black;
    transform: scaleX(1.1);
}

.iconsFooter{
    margin-bottom: 10px;
}

.iconsFooter a svg{
   width: 30px;
   height: 30px;
   transition: transform 0.2s ease;
}

.iconsFooter a:hover svg{
    transform: scale(1.3);    
}

.iconsFooter a:active svg{       
    transform: scale(1.1);    
}
