#news-form
    width: 90%
    padding: 2em
    height: fit-content
    min-height: 80vh
    background-color: #fafafa
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column

    .wrapper
        display: flex
        align-items: center
        justify-content: center
        .chakra-form-control
            margin-right: 1em
            height: fit-content
            display: flex
            align-items: flex-start
            justify-content: flex-end
            flex-direction: column
            width: 100%
            position: relative
            .chakra-form__error-message
                position: absolute
                bottom: -2em
            &:nth-child(1)
                width: 60%
            &:nth-child(2)
                width: 20%
            &:nth-child(3)
                width: 20%

    .ck-content
        min-height: 20vh
    .ck-editor
        margin-top: 2em
input,
select
    height: 3em
