#news-detail-screen
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    background-color: #FAFA88
    padding: 2rem 0rem
    font-family: 'Fira Sans', sans-serif;
    .container
        padding: 1em 1em
        width: 90%
        margin: 0 auto
        background-color: #FFFFFF
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 10px 10px 0px 1px

    .header
        height: 20%
        background-color: #FAFA88
        .name
            font-size: 1.6em
            font-weight: 600
    .content
        h1
            font-size: 1.6em
            font-weight: 600
        h2
            font-size: 1.4em
            font-weight: 400
        h3
            font-size: 1.2em
        h4
            font-size: 1em
