.slider
    width: 100%
    overflow: hidden
    .slide
        height: 66vw
        min-height: 66vh
        max-height: 90vh
        display: flex
        align-items: center
        justify-content: center
        font-size: 5vw
        position: relative
        .text
            z-index: 10
            color: white
        .image
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-size: cover
            background-position: center
            z-index: 1
            &::before
                content: ""
                position: absolute
                top: 0
                left: 0
                background-color: rgba(0,0,0,0.2)
                width: 100%
                height: 100%
                z-index: -1

    //React Slick Styles
    .slick-slider

    //Responsive
    @media screen and ( max-width: 768px )
        .slide
            font-size: 2em
